In [2]:
# imports
import requests
import os 
import pandas as pd
import json
import pprint
import sqlite3

# Foursquare

Send a request to Foursquare with a small radius (1000m) with the location of your choice

In [142]:
# Set the key
fsq_api_key = os.environ['FOURSQUARE_API_KEY']

In [210]:
# Set the url and parameters that will be used in our request
base_url = 'https://api.foursquare.com/v3/places/search'
radius = 1000
ll = '44.232344187881836%2C-76.48559630147832' # This is the latitude/longitude for Kingston Centre in Kingston, ON, replaced comma with '%2C
limit = 50 # This is the maximum number of entries per request
fields = 'rating%2Cprice%2Cpopularity%2Cname%2Cdistance%2Clocation%2Ccategories'
params = f'?ll={ll}&radius={radius}&fields={fields}&limit={limit}'

# I did not specify a venue type (e.g. 'bar') to get all bars, restaurants and POIs in this radius 
# Combine  
url = base_url+params

In [211]:
# get request
headers = {
    "accept": "application/json",
    "Authorization": fsq_api_key
}

response = requests.get(url, headers=headers)

In [212]:
# check response status
response.status_code

200

In [214]:
# save the response as a json file to prevent from sending repeated requests

# !!! DO NOT RUN OR IT WILL OVERWRITE THE SAVED FILE !!! 

#with open('fsq_response.json', 'w') as f:
#    f.write(response.text)

Parse through the response to get the POI details you want (rating, name, location, etc)

In [ ]:
# let's now work only with our fsq_response.txt file to avoid sending unnecessary requests
with open('fsq_response.json') as f:
    fsq_data = json.load(f)
pprint.pprint(fsq_data)

From the response above, we can see that we have a nested dictionary. The details we want to keep are within the results key, which on the other hand is a list of dictionaries with each POI. Within each entry, we may want to keep the category name, POI name and location (formatted address). Let's explore this structure below.

In [4]:
# number of POIs
#len(fsq_data['results'])

# POI Name
#poi_name = fsq_data['results'][0]['name']
#poi_name

# POI address
#poi_address = fsq_data['results'][0]['location']['address']
#poi_address

# POI type
#poi_type = fsq_data['results'][0]['categories'][0]['name']
#poi_type

# POI rating
#poi_rating = fsq_data['results'][0]['rating']
#poi_rating

# POI price
#poi_price = fsq_data['results'][4]['price']
#poi_price

# POI popularity
#poi_popularity = fsq_data['results'][4]['popularity']
#poi_popularity

In [ ]:
# Not all entries have ratings or prices, so we need to add an exception to handle that
# The example below shows how some ratings are missing.

rating_key = 'rating'
price_key = 'price' # will be used later

for i in range(len(fsq_data['results'])):
    if rating_key in fsq_data['results'][i]:
        print('Rating is available')
        
    else:
        print('Rating is unavailable')

Loop through the entries to create a dict which we will import to pandas dataframe

In [6]:
# Empty lists that we will add to the dict
names = []
addresses = []
types = []
ratings = []
prices = []
popularity = []

In [7]:
for i in range(len(fsq_data['results'])):
    # add POI name to names list
    names.append(fsq_data['results'][i]['name'])
    
    # add POI address to addresses list
    addresses.append(fsq_data['results'][i]['location']['address'])
    
    # add POI type to types list
    types.append(fsq_data['results'][i]['categories'][0]['name'])
    
    # add POI rating to ratings list - need to account for missing ratings
    if rating_key in fsq_data['results'][i]:
        ratings.append(fsq_data['results'][i]['rating'])
    else:
        ratings.append('NA')
        
    # add POI price info to prices list - also use the if statement to handle missing values
    if price_key in fsq_data['results'][i]:
        prices.append(fsq_data['results'][i]['price'])
    else:
        prices.append('NA')

    # add POI popularity rating to popularity list
    popularity.append(fsq_data['results'][i]['popularity'])

# Print lists to check 
#print(names)
#print(addresses)
#print(types)
#print(ratings)
#print(prices)
#print(popularity)

In [8]:
# Create a dict with the lists
fsq_dict = {
    'Name': names,
    'Address': addresses,
    'Type': types,
    'Rating': ratings,
    'Price': prices,
    'Popularity': popularity
}

Put your parsed results into a DataFrame

In [10]:
# create a dataframe from the fsq_dict variable, rounding to two decimals for readability
fsq_df = pd.DataFrame(fsq_dict).round(2)
fsq_df

,Name,Address,Type,Rating,Price,Popularity
0,Minotaur Games & Gifts,165 Princess St,Gift Store,8.4,NA,0.86
1,Dollarama,176 Princess St,Discount Store,7.3,NA,0.93
2,Crave Coffee House & Bakery,166 Princess St,Bakery,8.0,1,0.96
3,Menchie's,241 Princess St,Frozen Yogurt Shop,7.7,1,0.82
4,Stone City Ales,275 Princess St,Brewery,9.0,2,0.93
5,Amadeus Cafe,170 Princess St,Café,6.9,2,0.92
6,Hwa-Ki,269 Princess St,Sushi Restaurant,7.9,2,0.29
7,The Screening Room,120 Princess St,Indie Movie Theater,8.3,NA,0.87
8,Balzac's Coffee,251 Princess St,Café,7.3,1,0.94
9,Grecos Grill & Wine Bar,167 Princess St,Diner,6.6,2,0.91
10,Lululemon Athletica,270 Princess St,Sporting Goods Retail,7.6,NA,0.93
11,Shoppers Drug Mart,136 Princess St,Drugstore,7.2,NA,0.97
12,Urban Outfitters,207 Princess St,Clothing Store,5.8,NA,0.91
13,NORTHSIDE espresso + kitchen,281 Princess St,Dining and Drinking,7.6,1,0.85
14,Harper's,93 Princess St,Restaurant,8.3,2,0.89
15,Golden Rooster Delicatessen,111 Princess St,Caterer,7.5,1,0.94
16,Copper Penny,240 Princess St,American Restaurant,6.5,2,0.90
17,Kingston Frameworks,198 Princess St,Art Gallery,NA,NA,0.84
18,Plaza Hotel,46 Montreal St,Hotel,NA,3,0.78
19,Ta Ke Sushi,120 Princess St,Sushi Restaurant,7.3,3,0.22
20,Starbucks,95 Princess St,Coffee Shop,7.9,1,0.94
21,Racquet Science,332A Barrie St,Bicycle Store,NA,NA,0.18
22,Megalo's Restaurants,226 Princess St,New American Restaurant,5.9,2,0.91
23,Union Kitchen + Cocktails,184 Princess St,Night Club,NA,3,0.93
24,Northern Chinese Barbeque,185 Princess St,Chinese Restaurant,NA,1,0.89
25,Mango Thai & Pan-Asian Cuisine,161 Princess St,American Restaurant,6.0,2,0.87
26,True North Tattoo,159 Queen St,Tattoo Parlor,NA,NA,0.86
27,Score Pizza,91 Princess St,Pizzeria,7.9,1,0.85
28,The Alibi,293 Princess St,Bar,7.4,2,0.82
29,The Toucan,76 Princess St,Pub,8.3,1,0.94
30,Saigon Delights,272 Bagot St,Chinese Restaurant,6.3,2,0.88
31,Chez Piggy,68R Princess Ave,Diner,8.4,4,0.93
32,Geneva Crepe Cafe,297 Princess St,Bistro,7.4,1,0.91
33,Andrei Master Tailors,170 Princess St,Tailor,NA,NA,0.07
34,CIBC,164 Brock St,Bank,6.5,NA,0.88
35,Le Chien Noir,69 Brock St,Restaurant,8.1,1,0.89
36,Graham's Pharmacy,168 Princess St,Drugstore,NA,NA,0.75
37,Sima Sushi,66 Princess St,Sushi Restaurant,8.1,2,0.90
38,Tango Nuevo,331 King St E,Wine Bar,8.9,3,0.93
39,The Iron Duke on Wellington,207 Wellington St,Pub,7.1,1,0.90
40,St Paul's Anglican Church,137 Queen St,Church,NA,NA,0.94
41,Sir John's Public House,343 King St E,Pub,8.4,1,0.85
42,Pan Chancho Bakery,44 Princess St,Bakery,9.1,2,0.97
43,Musiikki,73 Brock St,Performing Arts Venue,7.5,NA,0.85
44,Overstock,169 Princess St,Women's Store,NA,NA,0.17
45,The Queen's Inn,125 Brock St,Hotel,6.4,1,0.84
46,Cambodiana Restaurant,161 Brock St,Diner,NA,2,0.52
47,Novel Idea,156 Princess St,Bookstore,NA,NA,0.83
48,Cooke's Fine Foods and Coffee,61 Brock St,"Cafes, Coffee, and Tea Houses",7.7,NA,0.88
49,Kingston Online Svc,303 Bagot St,Computer Repair Service,NA,NA,0.44

In [268]:
# Explore the data by sorting based on popularity
pop = fsq_df[['Name', 'Type', 'Popularity']].nlargest(5, 'Popularity', keep='all')
pop

                           Name         Type  Popularity
11           Shoppers Drug Mart    Drugstore        0.97
42           Pan Chancho Bakery       Bakery        0.97
2   Crave Coffee House & Bakery       Bakery        0.96
8               Balzac's Coffee         Café        0.94
15  Golden Rooster Delicatessen      Caterer        0.94
20                    Starbucks  Coffee Shop        0.94
29                   The Toucan          Pub        0.94
40    St Paul's Anglican Church       Church        0.94

In [282]:
# Let's look at some statistics for popularity
# This rating goes from 0 to 1, with one being most popular
print(fsq_df['Popularity'].max())
print(fsq_df['Popularity'].min())
print(fsq_df['Popularity'].mean())

0.97
0.07
0.8036000000000001

# Yelp

Send a request with the same location paramaters (location, radius, etc)

In [187]:
# Set the key
yelp_api_key = os.environ['YELP_API_KEY']

In [188]:
# Set the GET url according to Yelp API documentation 
# First, define host p
host = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'Bearer {}'.format(yelp_api_key)}

# This is the latitude, should be a decimal 
lat = 44.232344187881836

# This is the longitude, should be a decimal 
lon = -76.48559630147832

# Radius should be an int
radius = 1000 

# Limit should be an int
limit = 50

# Parameters for our request
params = f'?latitude={lat}&longitude={lon}&radius={radius}&limit={limit}'


# For comparison's sake I didn't specify the type of venue I am looking for
# Combine  
url = host+params
print(url)

https://api.yelp.com/v3/businesses/search?latitude=44.232344187881836&longitude=-76.48559630147832&radius=1000&limit=50

In [189]:
# get request
yelp_response = requests.get(url, headers=headers)

In [190]:
yelp_response.status_code

200

In [30]:
# save the response as a json file to prevent from sending repeated requests

# !!! DON'T RUN OR IT WILL OVERWRITE THE SAVED FILE !!!

#with open('yelp_response.json', 'w') as f:
#    f.write(yelp_response.text)

Parse through your result and get POI details

In [ ]:
with open('yelp_response.json') as f:
    yelp_data = json.load(f)
pprint.pprint(yelp_data)

Again, we have a nested dictionary as the response. We can see that all POIs are kept inside a list within the dict key 'businesses'. Below, let's play around to find points of interest. In this case, our response is more rich in details, so we can select more information on each POI.

In [84]:
# number of POIs
#len(yelp_data['businesses'])

# POI Name
#poi_name = yelp_data['businesses'][0]['name']
#poi_name

# POI address
#poi_address = yelp_data['businesses'][0]['location']['address1']
#poi_address

# POI type
#poi_type = yelp_data['businesses'][0]['categories'][0]['title']
#poi_type

# POI rating
#poi_rating = yelp_data['businesses'][0]['rating']
#poi_rating

# POI price
#poi_price = yelp_data['businesses'][0]['price']
#poi_price

In [ ]:
# Empty lists that we will add to the yelp_dict
y_names = []
y_addresses = []
y_types = []
y_ratings = []
y_prices = []

for i in range(len(yelp_data['businesses'])):
    # add POI name to names list
    y_names.append(yelp_data['businesses'][i]['name'])
    
    # add POI address to addresses list
    y_addresses.append(yelp_data['businesses'][i]['location']['address1'])
    
    # add POI type to types list
    y_types.append(yelp_data['businesses'][i]['categories'][0]['title'])
    
    # add POI rating to ratings list
    y_ratings.append(yelp_data['businesses'][i]['rating'])
    
    # add POI price info to prices list - using the same if statement to handle missing values
    if price_key in yelp_data['businesses'][i]:
        y_prices.append(yelp_data['businesses'][i]['price'])
    else:
        y_prices.append('NA')

# Print check
#print(y_names)
#print(y_addresses)
#print(y_types)
#print(y_ratings)
#print(y_prices)

In [228]:
# Create a dict with the lists
yelp_dict = {
    'Name': y_names,
    'Address': y_addresses,
    'Type': y_types,
    'Rating': y_ratings,
    'Price': y_prices
}

Put your parsed results into a DataFrame

In [229]:
# create a dataframe from the fsd_dict variable
yelp_df = pd.DataFrame(yelp_dict)
yelp_df

,Name,Address,Type,Rating,Price
0,Wooden Heads,192 Ontario Street,Pizza,4.0,$$
1,Tango Nuevo,331 King Street E,Tapas/Small Plates,4.5,$$$
2,Pan Chancho Bakery,44 Princess Street,Bakeries,4.0,$$
3,Harper's,93 Princess Street,Burgers,4.0,$$
4,Greco's Grill and Wine Bar,167 Princess Street,Greek,4.0,$$
5,Wok-In Restaurant,30 Montreal St,Cambodian,5.0,$
6,Sima Sushi,66 Princess St,Japanese,4.0,$$
7,NORTHSIDE Espresso + Kitchen,281 Princess Street,Cafes,4.5,$$
8,Mio Gelato,178 Ontario Street,Ice Cream & Frozen Yogurt,4.5,$$
9,Amadeus Cafe,170 Princess Street,German,4.5,$$
10,Dianne's Fish Shack & Smokehouse,195 Ontario Street,Seafood,3.5,$$
11,Chez Piggy Restaurant,68R Princess Street,Breakfast & Brunch,3.5,$$$
12,Sally's Roti Shop,203 Wellington Street,Caribbean,4.5,$
13,Red House,369 King Street E,Gastropubs,4.0,$$
14,Black Dog Tavern,69 Brock Street,French,4.0,$$$
15,Olivea,39 Brock Street,Italian,4.0,$$$
16,Balzac's Coffee Roasters,251 Princess Street,Coffee Roasteries,5.0,$$
17,Score Pizza,91 Princess Street,Pizza,4.5,NA
18,Ali Baba,320 Princess St,Persian/Iranian,4.0,$$
19,Kame Sushi and Izakaya,156 Division St,Japanese,4.5,$$
20,The Cambodian Village,347 King Street E,Cambodian,4.5,$$
21,Geneva Crepe Cafe,297 Princess Street,Creperies,3.5,$$
22,Gangnam Style,337 Princess St,Korean,4.5,$$
23,Copper Penny,240 Princess St,Diners,4.0,$$
24,Sushibar Da,354 King Street E,Sushi Bars,4.5,$$
25,Mango Restaurant,161 Princess Street,Thai,3.5,$$
26,Sushi Ya Zen,49 Princess Street,Japanese,4.0,$$
27,Royal Angkor Restaurant,523 Princess Street,Cambodian,4.0,$$
28,Podonamu,264 Princess Street,Korean,4.0,$$
29,CRAVE Coffee House & Bakery,166 Princess Street,Coffee & Tea,3.5,$$
30,Peter's Place,34 Princess St,American (Traditional),4.0,$$
31,The Keg Steakhouse + Bar - Kingston,300 King St E,Seafood,4.0,$$$
32,Cambodiana Restaurant,161 Brock Street,Cambodian,4.5,$$
33,Apsara Angkor,189 Ontario Street,Thai,4.0,$$
34,Thai House Cuisine,183 Sydenham Street,Thai,4.0,$$
35,Atomica,71 Brock Street,Italian,3.5,$$
36,i-tea,296 Princess Street,Bubble Tea,4.5,$
37,AquaTerra,1 Johnson Street,Canadian (New),3.5,$$
38,Pat's Restaurant,455 Princess Street,Cambodian,4.5,$$
39,Casa,35 Brock Street,Italian,4.0,$$$
40,The Pilot House,265 King Street E,Pubs,4.0,$$
41,Choi's Roll,326 Princess Street,Japanese,4.5,NA
42,Sunflower Chinese Restaurant,41 Montreal Street,Chinese,4.0,$$
43,Meet Cuisine,371 Princess St,Chinese,4.5,NA
44,Golden Rooster Delicatessen,111 Princess Street,Delis,4.0,$
45,White Mountain,176 Ontario St,Ice Cream & Frozen Yogurt,4.0,$$
46,Jack Astor's,330 King Street East,Canadian (New),3.5,$$
47,Northern Chinese Barbeque,185 Princess Street,Chinese,4.0,NA
48,The Rustic Spud Restaurant & Catering,175 Bagot Street,Cafes,4.0,$$
49,Flavours of India,461 Princess Street,Indian,4.0,$$

In [251]:
# Explore the data by grouping based on venue type
yelp_df.groupby('Type').agg(n_venues = ('Type', 'count')).nlargest(5, 'n_venues', keep='all')

           n_venues
Type
Cambodian         5
Japanese          4
Chinese           3
Italian           3
Thai              3

# Google (stretch)

Use the same process as the first two APIs

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [132]:
connection = sqlite3.connect("/home/eduardo/lighthouse-data-notes/mini-project-II/data/miniproject2_db.sqlite")

In [233]:
# First, let's add the fsq_df to our database
# Create connection to the database
connection = sqlite3.connect("/home/eduardo/lighthouse-data-notes/mini-project-II/data/miniproject2_db.sqlite")

# Push the dataframe to sql 
fsq_df.to_sql("fsq", connection, if_exists="replace", index=False)

# Close connection with the database when done
#connection.close()

50

In [234]:
# Now, let's add the yelp_df to our database
# Create connection to the database
connection = sqlite3.connect("/home/eduardo/lighthouse-data-notes/mini-project-II/data/miniproject2_db.sqlite")

# Push the dataframe to sql 
yelp_df.to_sql("yelp", connection, if_exists="replace", index=False)

# Close connection with the database when done
#connection.close()

50

In [235]:
# To obtain information from our database, we will use pandas .read_sql() method
# First, let's test to see if our tables were created correctly
pd.read_sql('SELECT * FROM fsq', connection)

,Name,Address,Type,Rating,Price,Popularity
0,Minotaur Games & Gifts,165 Princess St,Gift Store,8.4,NA,0.86
1,Dollarama,176 Princess St,Discount Store,7.3,NA,0.93
2,Crave Coffee House & Bakery,166 Princess St,Bakery,8.0,1,0.96
3,Menchie's,241 Princess St,Frozen Yogurt Shop,7.7,1,0.82
4,Stone City Ales,275 Princess St,Brewery,9.0,2,0.93
5,Amadeus Cafe,170 Princess St,Café,6.9,2,0.92
6,Hwa-Ki,269 Princess St,Sushi Restaurant,7.9,2,0.29
7,The Screening Room,120 Princess St,Indie Movie Theater,8.3,NA,0.87
8,Balzac's Coffee,251 Princess St,Café,7.3,1,0.94
9,Grecos Grill & Wine Bar,167 Princess St,Diner,6.6,2,0.91
10,Lululemon Athletica,270 Princess St,Sporting Goods Retail,7.6,NA,0.93
11,Shoppers Drug Mart,136 Princess St,Drugstore,7.2,NA,0.97
12,Urban Outfitters,207 Princess St,Clothing Store,5.8,NA,0.91
13,NORTHSIDE espresso + kitchen,281 Princess St,Dining and Drinking,7.6,1,0.85
14,Harper's,93 Princess St,Restaurant,8.3,2,0.89
15,Golden Rooster Delicatessen,111 Princess St,Caterer,7.5,1,0.94
16,Copper Penny,240 Princess St,American Restaurant,6.5,2,0.90
17,Kingston Frameworks,198 Princess St,Art Gallery,NA,NA,0.84
18,Plaza Hotel,46 Montreal St,Hotel,NA,3,0.78
19,Ta Ke Sushi,120 Princess St,Sushi Restaurant,7.3,3,0.22
20,Starbucks,95 Princess St,Coffee Shop,7.9,1,0.94
21,Racquet Science,332A Barrie St,Bicycle Store,NA,NA,0.18
22,Megalo's Restaurants,226 Princess St,New American Restaurant,5.9,2,0.91
23,Union Kitchen + Cocktails,184 Princess St,Night Club,NA,3,0.93
24,Northern Chinese Barbeque,185 Princess St,Chinese Restaurant,NA,1,0.89
25,Mango Thai & Pan-Asian Cuisine,161 Princess St,American Restaurant,6.0,2,0.87
26,True North Tattoo,159 Queen St,Tattoo Parlor,NA,NA,0.86
27,Score Pizza,91 Princess St,Pizzeria,7.9,1,0.85
28,The Alibi,293 Princess St,Bar,7.4,2,0.82
29,The Toucan,76 Princess St,Pub,8.3,1,0.94
30,Saigon Delights,272 Bagot St,Chinese Restaurant,6.3,2,0.88
31,Chez Piggy,68R Princess Ave,Diner,8.4,4,0.93
32,Geneva Crepe Cafe,297 Princess St,Bistro,7.4,1,0.91
33,Andrei Master Tailors,170 Princess St,Tailor,NA,NA,0.07
34,CIBC,164 Brock St,Bank,6.5,NA,0.88
35,Le Chien Noir,69 Brock St,Restaurant,8.1,1,0.89
36,Graham's Pharmacy,168 Princess St,Drugstore,NA,NA,0.75
37,Sima Sushi,66 Princess St,Sushi Restaurant,8.1,2,0.90
38,Tango Nuevo,331 King St E,Wine Bar,8.9,3,0.93
39,The Iron Duke on Wellington,207 Wellington St,Pub,7.1,1,0.90
40,St Paul's Anglican Church,137 Queen St,Church,NA,NA,0.94
41,Sir John's Public House,343 King St E,Pub,8.4,1,0.85
42,Pan Chancho Bakery,44 Princess St,Bakery,9.1,2,0.97
43,Musiikki,73 Brock St,Performing Arts Venue,7.5,NA,0.85
44,Overstock,169 Princess St,Women's Store,NA,NA,0.17
45,The Queen's Inn,125 Brock St,Hotel,6.4,1,0.84
46,Cambodiana Restaurant,161 Brock St,Diner,NA,2,0.52
47,Novel Idea,156 Princess St,Bookstore,NA,NA,0.83
48,Cooke's Fine Foods and Coffee,61 Brock St,"Cafes, Coffee, and Tea Houses",7.7,NA,0.88
49,Kingston Online Svc,303 Bagot St,Computer Repair Service,NA,NA,0.44

In [236]:
# Testing the yelp table
pd.read_sql('SELECT * FROM yelp', connection)

,Name,Address,Type,Rating,Price
0,Wooden Heads,192 Ontario Street,Pizza,4.0,$$
1,Tango Nuevo,331 King Street E,Tapas/Small Plates,4.5,$$$
2,Pan Chancho Bakery,44 Princess Street,Bakeries,4.0,$$
3,Harper's,93 Princess Street,Burgers,4.0,$$
4,Greco's Grill and Wine Bar,167 Princess Street,Greek,4.0,$$
5,Wok-In Restaurant,30 Montreal St,Cambodian,5.0,$
6,Sima Sushi,66 Princess St,Japanese,4.0,$$
7,NORTHSIDE Espresso + Kitchen,281 Princess Street,Cafes,4.5,$$
8,Mio Gelato,178 Ontario Street,Ice Cream & Frozen Yogurt,4.5,$$
9,Amadeus Cafe,170 Princess Street,German,4.5,$$
10,Dianne's Fish Shack & Smokehouse,195 Ontario Street,Seafood,3.5,$$
11,Chez Piggy Restaurant,68R Princess Street,Breakfast & Brunch,3.5,$$$
12,Sally's Roti Shop,203 Wellington Street,Caribbean,4.5,$
13,Red House,369 King Street E,Gastropubs,4.0,$$
14,Black Dog Tavern,69 Brock Street,French,4.0,$$$
15,Olivea,39 Brock Street,Italian,4.0,$$$
16,Balzac's Coffee Roasters,251 Princess Street,Coffee Roasteries,5.0,$$
17,Score Pizza,91 Princess Street,Pizza,4.5,NA
18,Ali Baba,320 Princess St,Persian/Iranian,4.0,$$
19,Kame Sushi and Izakaya,156 Division St,Japanese,4.5,$$
20,The Cambodian Village,347 King Street E,Cambodian,4.5,$$
21,Geneva Crepe Cafe,297 Princess Street,Creperies,3.5,$$
22,Gangnam Style,337 Princess St,Korean,4.5,$$
23,Copper Penny,240 Princess St,Diners,4.0,$$
24,Sushibar Da,354 King Street E,Sushi Bars,4.5,$$
25,Mango Restaurant,161 Princess Street,Thai,3.5,$$
26,Sushi Ya Zen,49 Princess Street,Japanese,4.0,$$
27,Royal Angkor Restaurant,523 Princess Street,Cambodian,4.0,$$
28,Podonamu,264 Princess Street,Korean,4.0,$$
29,CRAVE Coffee House & Bakery,166 Princess Street,Coffee & Tea,3.5,$$
30,Peter's Place,34 Princess St,American (Traditional),4.0,$$
31,The Keg Steakhouse + Bar - Kingston,300 King St E,Seafood,4.0,$$$
32,Cambodiana Restaurant,161 Brock Street,Cambodian,4.5,$$
33,Apsara Angkor,189 Ontario Street,Thai,4.0,$$
34,Thai House Cuisine,183 Sydenham Street,Thai,4.0,$$
35,Atomica,71 Brock Street,Italian,3.5,$$
36,i-tea,296 Princess Street,Bubble Tea,4.5,$
37,AquaTerra,1 Johnson Street,Canadian (New),3.5,$$
38,Pat's Restaurant,455 Princess Street,Cambodian,4.5,$$
39,Casa,35 Brock Street,Italian,4.0,$$$
40,The Pilot House,265 King Street E,Pubs,4.0,$$
41,Choi's Roll,326 Princess Street,Japanese,4.5,NA
42,Sunflower Chinese Restaurant,41 Montreal Street,Chinese,4.0,$$
43,Meet Cuisine,371 Princess St,Chinese,4.5,NA
44,Golden Rooster Delicatessen,111 Princess Street,Delis,4.0,$
45,White Mountain,176 Ontario St,Ice Cream & Frozen Yogurt,4.0,$$
46,Jack Astor's,330 King Street East,Canadian (New),3.5,$$
47,Northern Chinese Barbeque,185 Princess Street,Chinese,4.0,NA
48,The Rustic Spud Restaurant & Catering,175 Bagot Street,Cafes,4.0,$$
49,Flavours of India,461 Princess Street,Indian,4.0,$$

Get the top 10 restaurants according to their rating

In [140]:
# To get the top 10 restaurants, we will need an ORDER BY in our query. This will be done with each table.
# Yelp table
query = '''
    SELECT
        y.Name, 
        y.Rating
    FROM
        yelp AS y
    ORDER BY 
        y.Rating DESC
    LIMIT
        10
'''

pd.read_sql(query, connection)

                           Name  Rating
0             Wok-In Restaurant     5.0
1      Balzac's Coffee Roasters     5.0
2                   Tango Nuevo     4.5
3  NORTHSIDE Espresso + Kitchen     4.5
4                    Mio Gelato     4.5
5                  Amadeus Cafe     4.5
6             Sally's Roti Shop     4.5
7                   Score Pizza     4.5
8        Kame Sushi and Izakaya     4.5
9         The Cambodian Village     4.5

In [239]:
# FSQ table - remove missing ('NA') rating information
query = '''
    SELECT
        f.Name, 
        f.Rating
    FROM
        fsq AS f
    WHERE
        f.Rating IS NOT 'NA'
    ORDER BY 
        f.Rating DESC
    LIMIT
        10
'''

pd.read_sql(query, connection)

                      Name Rating
0       Pan Chancho Bakery    9.1
1          Stone City Ales    9.0
2              Tango Nuevo    8.9
3   Minotaur Games & Gifts    8.4
4               Chez Piggy    8.4
5  Sir John's Public House    8.4
6       The Screening Room    8.3
7                 Harper's    8.3
8               The Toucan    8.3
9            Le Chien Noir    8.1

# Travelling Salesman Problem (stretch)

If you have time, follow the steps in the [ortools tutorial](https://developers.google.com/optimization/routing/tsp) using Google's [Directions API](https://developers.google.com/maps/documentation/directions/start).